[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
awscli = "*"
pytest = "*"
boto = "*"
kafka-python = "*"
hubspot-api-client = "*"
gremlinpython = "*"
dataclasses-json = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
